.landingPage {
  height: 100vh;
  width: 100vw;
}

.content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: 50%;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

a.start-button {
  background: red content-box;
  border: 1px solid black;
  color: #fff;
  cursor: pointer;
  padding: 3px;
  width: 100px;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  transition: 0.3s linear all;
  display: inline-block;
  text-decoration: none;
}

a.start-button:hover {
  background: red;
}

@media (max-width: 768px) {
  .content-container {
    width: 100%;
    height: 40%;
  }
}
